@use "public_radient-icons.css";

root {
  min-height: 100vh;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
