.barcode-container {
  width: 60px;
  height: 40px;

  &.animated {
    animation-duration: 1.5s;
    animation-name: dancing;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
  }
}

html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes dancing {
  0% {
    transform-origin: 0;
    transform: scaleX(1);
  }

  10% {
    transform-origin: 0;
    transform: scaleX(1);
  }

  30% {
    transform-origin: 0;
    transform: scaleX(2.5);
  }

  50% {
    transform-origin: 0;
    transform: scaleX(1);
  }

  60% {
    transform-origin: 0;
    transform: scaleX(1);
  }

  61% {
    transform-origin: 100%;
    transform: scaleX(1);
  }

  80% {
    transform-origin: 100%;
    transform: scaleX(2.5);
  }

  100% {
    transform-origin: 100%;
    transform: scaleX(1);
  }
}

@keyframes worm {
  0% {
    transform: scaleX(1);
    transform-origin: 0;
  }

  25% {
    transform: scaleX(2);
    transform-origin: 0;
  }

  26% {
    transform-origin: 200%;
    transform: translateX(200%) scaleX(2);
  }

  50% {
    transform-origin: 200%;
    transform: translateX(100%) scaleX(1);
  }

  51% {
    transform-origin: 200%;
    transform: translateX(100%) scaleX(1);
  }

  75% {
    transform: translateX(200%) scaleX(2);
    transform-origin: 200%;
  }

  76% {
    transform: scaleX(2);
    transform-origin: 0;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0;
  }
}
