@use "./radient.scss";

:root {
  --faceEyeSize: 4%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;

  font-family: "Montserrat", sans-serif;
}

.dynamic-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  .view {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .control {
    flex-basis: 0;
    flex-grow: 1;
    padding: 24px 0;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    label {
      width: 100%;
      box-sizing: border-box;
      margin: 0 10vw;
    }

    input {
      box-sizing: border-box;
      margin-top: 6px;
      padding: 6px;
      line-height: 32px;
      width: 100%;
    }
  }
}

.gradient {
  width: 400px;
  height: 400px;
  background-color: white;
  margin: 10px;
  border: 2px solid #e7e7e7;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 10px;
}

.face {
  @include radient.face(#000, #fff, var(--faceEyeSize));
}
